# Enable the rewrite engine
RewriteEngine On

# If the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect to 404.php
ErrorDocument 404 /Diplomamunka-26222041/php/404.php
